@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #2e69ff;
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------------------------------------ */
/* -- Navigation -- */

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;
} */

.header,
.about,
.projects,
.experience,
.social,
.footer {
  padding: 50px 25px 25px;
}

/* ------------------------------------------------------ */
/* -- Header -- */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
}

.header img {
  max-width: 300px;
  height: auto;

  margin: 20px auto;

  border-radius: 50%;
}

.header__content {
  width: 400px;
  margin: 0 auto;
}

.header__content h1 {
  font-size: 48px;
}

.header__content p {
  font-size: 32px;
}

.header__content button {
  margin: 25px auto 0;
}

/* ------------------------------------------------------ */
/* -- About -- */

.about h2 {
  font-size: 42px;
  margin: 25px auto;
}

.about p {
  font-size: 18px;
  color: white;
  line-height: 130%;
  max-width: 75ch;
}

/* ------------------------------------------------------ */
/* -- Projects -- */

.projects h2 {
  font-size: 42px;
  margin: 25px auto;
}

.projects p {
  font-size: 18px;
  line-height: 130%;
  max-width: 65ch;
}

.projects__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__card {
  max-width: 800px;

  padding: 20px;

  border: 1px solid black;
  border-radius: 8px;
}

.projects__card h3 {
  color: white;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.projects__card p {
  color: white;
  font-size: 18px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;

  border-radius: 8px;
}

.projects__card .button {
  margin: 10px 5px 0;
}

/* ------------------------------------------------------ */
/* -- Education/Experience -- */

.experience h2 {
  font-size: 42px;
  margin: 25px auto;
}

.experience ul {
  margin: 0 0 10px 50px;
}

.experience li {
  color: white;
  font-size: 18px;
  line-height: 130%;
  margin: 15px auto;
}

.experience .company__name {
  color: #05034a;
}

.experience .position {
  color: #100e4f;
}

/* ------------------------------------------------------ */
/* -- Social Media -- */

.social h2 {
  display: inline;
  position: relative;
  font-size: 42px;
  margin: 25px auto;
}

.social .contacts ul {
  display: inline;
  position: relative;
  margin: 25px auto;
  min-width: 696px;
}

.social ul li {
  display: inline;
  float: left;
  left: 50%;
  width: 80px;
  height: 90px;
  padding-top: 10px;
  list-style: none;
}

.social ul li a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.social ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
}

.social ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: .5s;
}

.social ul li:nth-child(1) a:hover .fab {
  color: #dd4b39;
}

.social ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.social ul li:nth-child(3) a:hover .fab {
  color: #82868c;
}

/* ------------------------------------------------------ */
/* -- Footer -- */
.footer {
  padding-top: 85px;
  margin: 0 auto;
  text-align: center;
}

/* ------------------------------------------------------ */
/* -- HTML COMPONENTS: BUTTON -- */
.button {
  display: inline-block;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 250ms ease;
}

.button:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: black;
}